body {
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

#header {
    background: #1f2937;
    
  
}

h1 {
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.links {
    color: #e5e7eb;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    padding-top: 20px;
}

.subnav {
    display: flex;
    gap: 290px;
}

.subleft {
    max-width: 450px;
    flex-wrap: wrap; 
    flex: 1;
}

#header {
    padding: 12px 300px;
    padding-bottom: 100px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    margin-right: 52px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.btn {
    background: blue;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px blue;
    font-weight: 700;
    font-size: 16px;
}

/* INFORMATION Section */

#info {
    text-align: center;
    padding-bottom: 120px;
}

#info img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 8px;
    padding: 20px;
    
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color:  #1f2937;
    font-family: sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info-content {
    display: flex;
    gap: 52px;
    justify-content: center;

}

.info-sub {
    max-width: 200px;
}

/* Quote Section */

#quote {
    background-color: #e5e7eb;
    padding: 100px 250px;
}

.quote-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}

.quote-sub {
    
    max-width: 800px;
    font-style: italic;
    font-size: 36px;
    color:#1f2937;
}

.quote-auth {
    display: flex;
   margin-left: 480px;
   font-size: 36px;
   font-weight: 900;
}

/* Call to action */

#cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    color: #fff;
}

#cta h4, p{
    margin: 0;
    padding: 0;
}

#cta h4 {
    font-size: 24px;
}

#cta p {
    font-size: 18px;;
    font-weight: 200;
}

.cta-sec {
    flex: 1;
    display: flex;
    background: #3882f6;
    max-width: 1000px;
    padding: 60px 100px;
    border-radius: 8px;
}

.cta-left {
    flex:1;
}

.cta-right {
   
}

.sgnup {
    background-color: #3882f6;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    padding: 8px 28px;
    font-size: 18px;
}