@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

#top-section {
    background: #1f2937;
    color: #e5e7eb;
    padding: 10px;
    padding-bottom: 100px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.hero-section {
    display: flex;
    justify-content: center;
    gap: 220px;
    margin-top: 100px;
    
}

.main-title {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.left-text {
    flex-basis: 400px;
}

.subtext {
    margin-top: 5px;
    margin-bottom: 16px;
}

.btn {
    background-color: #3882f6;
    border: none;
    padding: 8px 24px;
    border-radius: 5px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 900;
}

img {
    width: 500px;
    height: 250px;
}

#info-section{
    padding-bottom: 200px;
}

#info-section h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 36px;
    font-weight: 700;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin-top: 40px;
}

.info-box {
    height: 170px;
    width: 170px;
    text-align: center;
}

.box {
    height: 170px;
    width: 170px;
    border: 4px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 10px;
}

#quote-section {
    background-color: #e5e7eb;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 780px;
}

.quote {
    font-style: italic;
    font-weight: lighter;
}

.author {
    align-self: flex-end;
    font-size: 28px;
    font-weight: 700;
}